@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EasyEats</h1>
    <h4>Where ridding yourself of hunger is made easy.</h4>
    <div>
        <img src="https://i.pinimg.com/originals/02/99/02/0299026ae1a0156e20f94b05c6079312.jpg" />
    </div>
</div>
